.container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100px;
  border: none;
  cursor: pointer;
  padding: 16px;
  background-color: crimson;
  color: white;
}

.button:disabled{
    background-color: rgb(134, 92, 101);
    cursor: not-allowed;
}
